/data/
/logs/
/sam3/
/code/eval*
/constantin_codes/
/segmentation/autoprompting_experiments/
/segmentation/scripts/
*.dat
*.dcm
*.pth
*.png
*.pt
*.sif
*.pth
*.tsv
*.txt
/segmentation/sam2/*
*/__pycache__/
core
*.log
/gui_interactive/received_mask.mha